/* GENERALI */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

html {
    font-family: Roboto, sans-serif;
}

ul,
ol {
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

img {
    max-width: 100%;
}

button {
    background: none;
    border: none;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 44px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 16px;
}


/* LAYOUT */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container-small {
    max-width: 1014px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-100 {
    width: 100%;
}

.col-67 {
    width: calc((100%/3)*2);
}

.col-60 {
    width: 60%;
}

.col-40 {
    width: 40%;
}

.col-33 {
    width: calc(100%/3);
}

.btn-style {
    background-color: rgb(0, 97, 255);
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

.text-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    height: 100%;
    padding: 0 26px;
}

.bx-down-arrow-alt {
    font-size: 50px;
    margin: auto 0;
}


/* HEADER */
.navbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}

.main-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.logo {
    display: block;
}

.login {
    display: flex;
    align-items: center;
    gap: 16px;
}


/* MAIN */
.hero {
    background-color: rgb(180, 208, 231);
    padding: 100px 0 0 0;
}

.hero-image {
    width: 100%;
    margin-bottom: -65px;
}

.plans *:not(h2, h3, h4) {
    font-size: 14px;
}

.plans__input {
    display: flex;
    gap: 44px;
    margin: 58px 0 48px 0;
}

/* Card */
.card {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.card.card-team {
    margin-top: 50px;
}

.card__title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 118px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.description__price {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* tutte le section della card sotto al titolo */
.card__description {
    display: flex;
    flex-direction: column;
    gap: 52px;
    padding: 38px;
}

/* liste di description feature e description highlights */
.description-list ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.description-list ul>* {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4px;
}

.description__buy {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.description__buy::after {
    content: "";
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 50px;
}

.description__contact {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.description__subtitle {
    max-width: 600px;
}

.free-trial {
    background-color: rgb(180, 208, 231);
    padding: 130px 0;
}

.free-trial__box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 230px;
}



















/* UTILITIES */
.margin-65b {
    margin-bottom: 65px;
}

.margin-160b {
    margin-bottom: 160px;
}

.margin-34b {
    margin-bottom: 34px;
}

.margin-18b {
    margin-bottom: 18px;
}

.margin-80y {
    margin: 80px 0;
}

.margin-80b {
    margin-bottom: 80px;
}

.padding-50 {
    padding: 56px;
}

.padding-25x {
    padding: 0 25px;
}

.color-blue {
    color: rgb(0, 97, 255);
}

.fw-900 {
    font-weight: 900;
}

.reset-style {
    color: blue;
    text-decoration: underline;
}

.cursor-pointer {
    cursor: pointer;
}

.flex-1 {
    flex: 1;
}

.gap-50 {
    gap: 50px;
}

/* cambiare nome */
.btn-partner {
    background-color: transparent;
    color: black;
    border: 1px solid black;
}

.mw-620 {
    max-width: 620px;
}

.color-magenta {
    color: rgb(140, 67, 86);
}

.bg-white {
    background-color: white;
}



/* DEBUG */
.debug>*, .debug .navbar-header>* {
    border: 2px solid black;
}

.debug .col-100 {
    border: 2px solid black;
}