/* GENERALI */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Roboto, sans-serif;
    font-size: 18px;
}

ul,
ol {
    list-style: none;
    font-size: 14px;
}

a {
    color: currentColor;
    text-decoration: none;
}

img {
    max-width: 100%;
}



/* HEADER */
.navbar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.main-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.logo{
    display: block;
}











/* DEBUG */
.debug > *, .debug .navbar-header >*{
    border: 2px solid black;
}
